<?xml version="1.0"?>

<model>
  <name>skid_warehouse_boxes</name>
  <version>1.0</version>
  <sdf version="1.5">skid_warehouse_boxes.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Warehouse Supply Boxes ready for use Uline Boxes S-4195 downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/4629719cd4e47c7219c4236483d9fa69/Uline-Boxes-S-4195
    2018-02-21
  </description>
</model>