<?xml version="1.0"?>

<model>
  <name>warning_stripe</name>
  <version>1.0</version>
  <sdf version="1.5">warning_stripe.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Warning stripe downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/05d9b081-396b-46b8-b260-7ce3e34ff5f3/Warning-yellow-stripe-metal-plate
  </description>
</model>