<?xml version="1.0"?>

<model>
  <name>pallet_jack</name>
  <version>1.0</version>
  <sdf version="1.5">pallet_jack.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Pallet jack downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/bc671378624bbed2cf00a98b1f6f9b42/Pallet-jack-Hubwagen
  </description>
</model>