<?xml version="1.0"?>

<model>
  <name>washroom_sign</name>
  <version>1.0</version>
  <sdf version="1.5">washroom_sign.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Washroom sign downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/b0c19e3bdfc812091f4d24d3688cb736/washroom-sign
  </description>
</model>