<?xml version="1.0"?>

<model>
  <name>metal_plane</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>
  <description>
    An metal sheet textured plane.
    Seamless texture of sheet of grey metal with embedded leaf-like shapes in surface.
    Downloaded from http://texturelib.com/texture/?path=/Textures/metal/tread%20plate/metal_tread_plate_0025
  </description>

</model>
