<?xml version="1.0"?>

<model>
  <name>guard_rail</name>
  <version>1.0</version>
  <sdf version="1.5">guard_rail.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    guard_rail downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/76e875ee-f481-4bcc-a9ea-e208d5bc87b2/guard-rail
  </description>
</model>