<?xml version="1.0"?>

<model>
  <name>ducting_800</name>
  <version>1.0</version>
  <sdf version="1.5">ducting_800.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Ducting 800 downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/66d32023-652d-4b50-9883-132287150820/Ducting-800
  </description>
</model>