<?xml version="1.0"?>

<model>
  <name>skid_udine_soap</name>
  <version>1.0</version>
  <sdf version="1.5">skid_udine_soap.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Skid of Uline Sweeping Compound on a 40 x 48" Wood Pallet, Uline S-6633 Skid, downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/30f3ea138bb5981919c4236483d9fa69/Uline-S-6633-Skid
  </description>
</model>