<?xml version="1.0"?>

<model>
  <name>industrial_steel_door</name>
  <version>1.0</version>
  <sdf version="1.5">industrial_steel_door.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Industrial steel door with hinges and handles downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/48e0350336dee4b2cf66a9e192dbe265/Industrial-Steel-Door
  </description>
</model>