<?xml version="1.0"?>

<model>
  <name>shelving_wall_unit_1</name>
  <version>1.0</version>
  <sdf version="1.5">shelving_wall_unit_1.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Shelving wall Unit 1 downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/6f0776ee8b0223ef792420a6faf4d047/Gondola-retail
  </description>
</model>