<?xml version="1.0"?>

<model>
  <name>roll_up_door</name>
  <version>1.0</version>
  <sdf version="1.5">roll_up_door.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    roll_up_door downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/6196ebb665daaf1a99e70de063b51884/Roll-Up-Door-Industrial
  </description>
</model>