<?xml version="1.0"?>

<model>
  <name>skid_udine_stay_flats</name>
  <version>1.0</version>
  <sdf version="1.5">skid_udine_stay_flats.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Skid of Uline Stay Flats Product on a 40 x 48" Wood Pallet downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/f3e9a93b3b2b0058ded8247fbc9c26ce/Uline-S-5467-Skid
  </description>
</model>