<?xml version="1.0"?>

<model>
  <name>safety_pole</name>
  <version>1.0</version>
  <sdf version="1.5">safety_pole.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Safety pole traffic sign downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/7b9f31a2-908d-4d8b-92f1-7a278744ebde/Work-in-Progress
  </description>
</model>