<?xml version="1.0"?>

<model>
  <name>fire_exit_sign</name>
  <version>1.0</version>
  <sdf version="1.5">fire_exit_sign.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Fire exit sign downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/925b154d1bb77f0473fe0c9817cb0e23/fire-exit-sign
  </description>
</model>