<?xml version="1.0"?>

<model>
  <name>sign_confined_space</name>
  <version>1.0</version>
  <sdf version="1.5">sign_confined_space.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Sign confined_space downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/ec900386-80bc-4b8f-99fd-ad56ee982083/Danger-Confined-Space
  </description>
</model>