<?xml version="1.0"?>

<model>
  <name>rollaway_tool_chest</name>
  <version>1.0</version>
  <sdf version="1.5">rollaway_tool_chest.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Rollaway tool chest, rollaway tool cabinet, downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/25c99dcb60d2ae7a4859f675267cc28/Rollaway-Tool-Cabinet
  </description>
</model>