<?xml version="1.0"?>

<model>
  <name>storage_rack</name>
  <version>1.0</version>
  <sdf version="1.5">storage_rack.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Modular Industrial Storage Rack downloaded from 3dWarehouse
    Industrial strength metal modular storage racks/shelves with adjustable wire rack shelves.
    https://3dwarehouse.sketchup.com/model/uaae1bb57-66fe-403d-ba72-0a001650f1bf/Modular-Industrial-Storage-Rack
  </description>
</model>