<?xml version="1.0"?>

<model>
  <name>roller_shutter_door</name>
  <version>1.0</version>
  <sdf version="1.5">roller_shutter_door.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Roller shutter door, galvanised roller shutter door with visual mechanism, downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/54071893-9b29-49bb-baa9-3c80cc4e85c3/Roller-Shutter-Door-cw-mechanism
  </description>
</model>