<?xml version="1.0"?>

<model>
  <name>pallet_stack</name>
  <version>1.0</version>
  <sdf version="1.5">pallet_stack.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Pallet stack downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/f5cadf73-a94e-4e86-a49e-5f42cf4768a8/Pallet
  </description>
</model>