<?xml version="1.0"?>

<model>
  <name>packing_table</name>
  <version>1.0</version>
  <sdf version="1.5">packing_table.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Packing table downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/7f77de5fdc0c9ba5f532258f2303841/PACKING-TABLE
  </description>
</model>