<?xml version="1.0"?>

<model>
  <name>emergency_exit_sign</name>
  <version>1.0</version>
  <sdf version="1.5">emergency_exit_sign.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Emergency Exit Sign downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/f23f015a539678601cd2b315cd557be7/Kmart-Emergency-Exit-Sign
  </description>
</model>