<?xml version="1.0"?>

<model>
  <name>tool_cabinet</name>
  <version>1.0</version>
  <sdf version="1.5">tool_cabinet.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Standard tool cabinet with modeled drawers, slides, and casters downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/97af65485046c459f11c3739edd52fa3/Tool-Cabinet
  </description>
</model>