<?xml version="1.0"?>

<model>
  <name>skid_udine_sealers</name>
  <version>1.0</version>
  <sdf version="1.5">skid_udine_sealers.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Skid of Uline Poly Bag Sealers H-89 on a 40 x 48" Wood Pallet downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/b81b99a28fb9ab7219c4236483d9fa69/Uline-H-89-Skid
  </description>
</model>