<?xml version="1.0"?>

<model>
  <name>stripe_texture</name>
  <version>1.0</version>
  <sdf version="1.5">stripe_texture.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Stripe texture downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/1fe16b93606dc1266ca2b6e5474aad11/stripe-tex
  </description>
</model>