<?xml version="1.0"?>

<model>
  <name>yellow_stripe_dashed</name>
  <version>1.0</version>
  <sdf version="1.5">yellow_stripe_dashed.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Yellow stripe dashed, 100' of dashed, yellow traffic stripe, downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/86cc8917-a04e-4772-bf48-8e42fba025b9/Traffi-Stripe-Yellow-Dashed
  </description>
</model>