<?xml version="1.0"?>

<model>
  <name>fire_hose</name>
  <version>1.0</version>
  <sdf version="1.5">fire_hose.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Fire hose cabinet downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/6be50460-7a58-4547-89e2-ad4941bcb1f2/fire-hose-cabinet
  </description>
</model>