<?xml version="1.0"?>

<model>
  <name>skid_udine_stretch_wrap</name>
  <version>1.0</version>
  <sdf version="1.5">skid_udine_stretch_wrap.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Skid of Uline Cast Stretch Wrap S-2190 on a 48 x 48" Wood Pallet downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/8ceb199f4e4597b319c4236483d9fa69/Uline-S-2190-Skid
  </description>
</model>