<?xml version="1.0"?>

<model>
  <name>emergency_exit_door</name>
  <version>1.0</version>
  <sdf version="1.5">emergency_exit_door.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    emergency exit door building downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/4ab3d09901f9109539c5adfb4b9b6a65/Emergency-Exit
  </description>
</model>