<?xml version="1.0"?>

<model>
  <name>shelves</name>
  <version>1.0</version>
  <sdf version="1.5">shelves.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Gondola Shelving Unit (Shelves / Pegboard) downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/b1afb660224f8cb3aac6294d62e5ae30/Gondola-Shelving-Unit-Shelves-Pegboard
  </description>
</model>