<?xml version="1.0"?>

<model>
  <name>mobile_wall</name>
  <version>1.0</version>
  <sdf version="1.5">mobile_wall.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Mobile wall downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/3d5441a887398ba0eafa74f523347a9c/Mobile-wall-16-by-16
  </description>
</model>