<?xml version="1.0"?>

<model>
  <name>yellow_stripes</name>
  <version>1.0</version>
  <sdf version="1.5">yellow_stripes.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Yellow stripes, provides 2" parking striping for 18'x9' parking spaces, downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/5e8f3e62-c8d6-4bf5-8d49-5cd7b4bf5274/Parking-Striping
  </description>
</model>