<?xml version="1.0"?>

<model>
  <name>skid_flat_stacked_boxes</name>
  <version>1.0</version>
  <sdf version="1.5">skid_flat_stacked_boxes.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Flat Stacked Boxes, Uline S-4161U Flat Stacked boxes on a 40 x 48" Wood Pallet for warehouse use downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/bf2c21e0ca220b2a19c4236483d9fa69/Flat-Stacked-Boxes
    2019-02-21
  </description>
</model>