<?xml version="1.0"?>

<model>
  <name>building</name>
  <version>1.0</version>
  <sdf version="1.5">building.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Warehouse /Factory building sign downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/25e565a1761c0d2e9bbe4f1047e9e5fd/factory
  </description>
</model>