<?xml version="1.0"?>

<model>
  <name>framed_sign</name>
  <version>1.0</version>
  <sdf version="1.5">framed_sign.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Exit Sign from Portal and Portal 2's Co-op Test Chambers downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/4028ad482085ca35988abef1fd117e7/Portal-Test-Chamber-Exit-Sign
  </description>
</model>