<?xml version="1.0"?>

<model>
  <name>industrial_handrail</name>
  <version>1.0</version>
  <sdf version="1.5">industrial_handrail.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Industrial_handrail component that can be stretched to install industrial handrails.
    Downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/65a7d1efea37200f601bea3dca268229/Industrial-Handrail
  </description>
</model>