<?xml version="1.0"?>

<model>
  <name>warehouse_shelving</name>
  <version>1.0</version>
  <sdf version="1.5">warehouse_shelving.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Warehouse Shelving Unit for Products downloaded from 3dWarehouse
   https://3dwarehouse.sketchup.com/model/e392e57e5575e84eaac6294d62e5ae30/Warehouse-Shelving-Unit-for-Products
  </description>
</model>