<?xml version="1.0"?>

<model>
  <name>aluminium_roller_door</name>
  <version>1.0</version>
  <sdf version="1.5">aluminium_roller_door.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    aluminium roller door 2.93m x 3m downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/d1ad1695fc063ef15339eb67f6086a2b/Aluminium-roller-shutter
  </description>
</model>