<?xml version="1.0"?>

<model>
  <name>wall_panels</name>
  <version>1.0</version>
  <sdf version="1.5">wall_panels.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Wall panels downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/f81e015c-93c1-4fd1-ad19-f5a7cf88f979/Wall-Panels
    2019-02-22
  </description>
</model>