<?xml version="1.0"?>

<model>
  <name>yellow_stripe_solid</name>
  <version>1.0</version>
  <sdf version="1.5">yellow_stripe_solid.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Yellow stripe solid, 100' of solid yellow traffic stripe, downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/86cedc1f-bb6e-45dc-a6ca-9db97c93c6ee/Traffic-Stripe-Yellow-Solid
  </description>
</model>