<?xml version="1.0"?>

<model>
  <name>concrete_plane</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>
  <description>
    An concrete textured plane.
  </description>

</model>
