<?xml version="1.0"?>

<model>
  <name>floor_R026_KXO</name>
  <version>1.0</version>
  <sdf version="1.5">floor_R026_KXO.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Wooden Floor R026_KXO 5 mt x 5 mt downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/83378fea-e7b8-4c0f-81b5-6ccd1d69a709/R026-KXO-original
  </description>
</model>