<?xml version="1.0"?>

<model>
  <name>site_safety_board</name>
  <version>1.0</version>
  <sdf version="1.5">site_safety_board.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Site safety board, downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/ua5bdceec-9141-4df2-9e7b-2b8f3797c1d4/BEAUTIFUL-PVC-SIGNAL-CARTELLO-DI-CANTIERE
  </description>
</model>