<?xml version="1.0"?>

<model>
  <name>fire_extinguisher</name>
  <version>1.0</version>
  <sdf version="1.5">fire_extinguisher.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Fire extinguisher downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/ua29be1fd-a368-498d-9295-701cb9c3698b/FIRE-EXTINGUISHER-LOW-POLY
  </description>
</model>