<?xml version="1.0"?>

<model>
  <name>small_rack</name>
  <version>1.0</version>
  <sdf version="1.5">small_rack.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    small rack, shelving, low pol. downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/uf8490ad7-cef6-4a6a-b43f-0ff56c1409dd/shelving
  </description>
</model>