<?xml version="1.0"?>

<model>
  <name>skid_udine_protective_shippers</name>
  <version>1.0</version>
  <sdf version="1.5">skid_udine_protective_shippers.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Skid of Uline S-7678 protective shippers on a 40 x 48" Pallet downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/836370280215b04e19c4236483d9fa69/Uline-S-7678-Skid
    2018-02-21
  </description>
</model>