<?xml version="1.0"?>

<model>
  <name>skid_udine_silica</name>
  <version>1.0</version>
  <sdf version="1.5">skid_udine_silica.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Skid of Uline Silica Gel Desiccants on a 40 x 48" Wood Pallet downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/1834b6ba483fc35319c4236483d9fa69/Uline-S-3903-Skid
  </description>
</model>